*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(9, 36, 86);
    padding: 10px;
}

.todo{
  
  max-width: 540px;
  margin: 150px auto;
  padding: 40px;
  background-color: rgb(249, 244, 237);
  border-radius: 10px; 
}
.todo h4 img{
    width: 20px;
}
 h4{
    color:black;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.row{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    justify-content: space-between;
   

}

input{
    border:none;
    background:white;
    padding:10px;
    font-weight: 10px;
    font-style: italic;
    border-radius: 10px;
    flex: 1;    
}

button{
    border:none;
    outline:none;
    padding: 10px 30px;
    background-color: pink;
    color: black;
    font-size:15px;
    font-style: italic;
    border-radius: 20px;
    cursor: pointer;
    
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
    
}
ul li::before{
    content: '';
    position:absolute;
    height: 20px;
    width: 25px;
    border-radius: 10px;
    background-image: url(images/compresspng/unchecked-min.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    
    left: 8px;
}
ul li.checked{
    color: red;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./images/compresspng/checked-min.png);  
    width: 20px;
    top: 12px;
    left: 8px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: grey;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;

}
ul li span:hover{
    background-color : red;

}